@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../bg_gmail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}