@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../images/bg_gmail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 480px) {
    p {
        display: none;
    }

}

@media (max-width: 767px) {
    p {
        display: none;
    }
}